{% extends "base.html" %}

{% block title %}Event - {{ event.title }}{% endblock %}

{% block contents %}
<div class="container">
    <h1>{{ event.title }}</h1>
    <p>Location: {{ event.venue }}</p>
    {% if event.group %}
    <p>Run by: <a href="{{ url_for('groups.group', group_id=event.group.id) }}">{{ event.group.name }}</a></p>
    {% endif %}
    <p>{{ event.description }}</p>
    {% if event.accessibility %}
    <h2>Accessibility</h2>
    <p>{{ event.accessibility }}</p>
    {% endif %}
    {% if g.user and g.user.can_admin_group(event.group) %}
    <h2>Admin</h2>
    <p><a href="{{ url_for('.delete', event_id=event.id) }}">Delete event</a></p>
    {% endif %}
</div>
{% endblock %}