{% extends "base.html" %}

{% block title %}Group - {{ group.name }}{% endblock %}

{% block contents %}
<div class="container">
    <h1>{{ group.name }}</h1>
    <p>{{ group.description }}</p>
    {% if next_event %}
    <h2>Next event</h2>
    <div class="accent-box">
        <h3><a href="{{ url_for('events.event', event_id=next_event.id)}}">{{ next_event.title }}</a></h3>
        <p>Location: {{ next_event.venue }}</p>
        <p>{{ next_event.description | truncate(150,true) }}</p>
    </div>
    <p><a href="{{ url_for('events.index', group_id=group.id)}}">See all events from this group</a></p>
    {% endif %}
    
    <h2>Announcements</h2>
    <ul class="list-box">
    {% for announcement in announcements %}
        <li>
            <h3><a href="{{ url_for('announcements.announcement', announcement_id=announcement.id) }}">{{ announcement.title }}</a></h3>
            <p>Posted: {{ announcement.format_posted() }}</p>
            <p>{{ announcement.body }}</p>
        </li>
    {% endfor %}
    </ul>
    <div class="pagination">
        {% if announcements.has_prev %}
        <a href="{{ url_for('.group', page=announcements.prev_num, **paginate_passthrough)}}">&#171; Sooner</a>
        {% endif %}
        {% if announcements.has_next %}
        <a href="{{ url_for('.group', page=announcements.next_num, **paginate_passthrough)}}">Later &#187;</a>
        {% endif %}
    </div>
    {% if g.user and g.user.can_admin_group(group) %}
    <h2>Admin</h2>
    <p><a href="{{ url_for('.edit', group_id=group.id) }}">Edit group</a></p>
    <p><a href="{{ url_for('events.new', group_id=group.id) }}">New event</a></p>
    <p><a href="{{ url_for('announcements.new', group_id=group.id) }}">New announcement</a></p>
    {% endif %}
</div>
{% endblock %}